{% extends "base.html" %}

{% block title %}Betfair Data{% endblock %}

{% block content %}
<h1>Betfair API Connection</h1>
<form action="{{ url_for('betfair_check') }}" method="post">
    <label for="username">Betfair Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Betfair Password:</label><br>
    <input type="text" id="password" name="password" required><br><br>

    <label for="api_key">Betfair API Key:</label><br>
    <input type="text" id="api_key" name="api_key" required><br><br>

    <input type="submit" value="Check Connection">
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="'flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
    {% endif %}
{% endwith %}
{% endblock %}