{% extends "base.html" %}

{% block title %}Prediction Page{% endblock %}

{% block content %}
    <h1>Horse Race Prediction</h1>
    
    <form action="/predict" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload CSV file:</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
    </form>

    {% if races %}
        <h2>Select a Race:</h2>
        <select id="raceSelect" class="form-control" onchange="updateRace()">
            {% for race in races %}
                <option value="{{ race }}" {% if race == selected_race %}selected{% endif %}>{{ race }}</option>
            {% endfor %}
        </select>
    {% endif %}

    <div id="raceData" class="mt-4">
        {% if race_data and selected_race %}
            {{ race_data[selected_race] | safe }}
        {% endif %}
    </div>

    <script>
        function updateRace() {
            var selectedRace = document.getElementById("raceSelect").value;
            var raceData = {{ race_data | tojson | safe }};
            document.getElementById("raceData").innerHTML = raceData[selectedRace];
        }
        
        function refreshPage() {
            window.location.href = '/predict_page';
        }
    </script>
{% endblock %}
